body {
    margin: auto;
    background-color: white;
    font-family: "Poppins", sans-serif;
    font-weight: 200;
    font-style: normal
}

html {
    scroll-behavior: smooth;
}

body div,
main,
header,
section {
    margin: auto;
}

header {

    padding: 4px;
    background-color: white;
    box-shadow: 0px 0px 10px white;
    background-color: rgb(176, 0, 88);
}

nav ul {
    text-align: center;
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

nav ul li a {
    text-decoration: none;
    color: white;
    transition: 0.5s;
}

nav ul li a:hover {
    border-bottom: 2px solid white;
    font-weight: bold;
    letter-spacing: 2px;
    transition: 0.5s;
}

header i {
    font-size: 30px;
}

#mysidenav {
    height: 100%;
    width: 100%;
    position: fixed;
    z-index: 1;
    top: 0px;
    left: -100%;
    background-color: rgb(176, 0, 88);
    padding-top: 60px;
    transition: left 0.5s ease;
}

#mysidenav a {
    padding: 8px 8px 8px 3px;
    padding-left: 10px;
    text-decoration: none;
    color: white;
    display: block;
    transition: 0.3s;
}

#mysidenav a:hover {
    font-weight: bold;
}

#mysidenav ul {
    list-style-type: none;
    padding: 0px;
    padding-top: 10px;
    margin: 0px;
    text-align: center;
}

#mysidenav ul li {
    padding-top: 30px;
}

#mysidenav .close {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
}

.openBtn {
    display: none;
}

/***************************main****************************************/
main {
    margin: auto;
    padding: 20px;
    background: url("album/fond.jpg");
    background: linear-gradient(rgb(0, 0, 0, 0.5), rgb(176, 0, 88)), url("album/coop.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    word-wrap: break-word;
}

.main_div {
    margin-top: 150px;
    margin-bottom: 150px;
    /* border: 5px solid white;*/
}

.main_div h1 {
    letter-spacing: 2px;
    color: white;
    font-size: 70px;
}

.main_div p {
    font-size: large;
    color: white;
    padding-bottom: 20px;
}

.main_div a {
    text-decoration: none;
    border: 2px solid white;
    color: white;
    padding: 6px;
    transition: 0.5s;
}

.main_div a:hover {
    background-color: white;
    color: inherit;
    font-weight: 300;
    letter-spacing: 1px;
}


/****************************************second_tittre******************************************/
.second_tittre {
    margin-top: 50px;
    text-align: center;
    padding: 20px;
}

.second_tittre h2 {
    font-size: 30px;
    letter-spacing: 2px;
    color: rgb(176, 0, 88);
}

.second_tittre h3 {
    font-weight: normal;
    letter-spacing: 1px;
    color: black;
}

/*****************************service*************************************************/
.contenaire_service {
    padding: 20px;
    margin-bottom: 100px;
}

.service {
    margin-top: auto;
    width: 95%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.service div {
    margin-top: 50px;
    flex-basis: 18%;
    padding: 20px;
    padding-top: 30;
    padding-bottom: 30;
    color: white;
}

.service div i {
    font-size: 50px;
}

.background {
    background: linear-gradient(rgb(0, 0, 0, 0.5), rgb(47, 71, 104)), url("album/servicefont.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.background_change {
    background: linear-gradient(rgb(0, 0, 0, 0.5), rgb(176, 0, 88)), url("album/servicefont.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.service div h3 {
    letter-spacing: 2px;
    text-transform: lowercase;
}

.service div i {
    font-size: 30px;
}

.service div p {
    text-align: justify;
}

/******************************************section*****************************/
section {
    background-color: rgb(176, 0, 88);
    padding: 20px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

section div {
    flex-basis: 40%;
    box-sizing: content-box;
    color: white;
}

section div h3 {
    font-size: 35px;
}

section div p {
    text-align: justify;
}

section div h4 {
    font-size: 20px;
    text-transform: lowercase;
}

section div a {
    text-decoration: none;
    border: 2px solid white;
    color: white;
    padding: 6px;
    transition: 0.5s;
}

section div a:hover {
    background-color: white;
    color: gray;
    transition: 0.5s;
}

section div img {
    width: 100%;
    height: 550px;
}

.section_div_image {
    text-align: center;
}

/**************************************************************************/
article {
    margin-top: 50px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    padding-bottom: 30px;
}

article div {
    margin-top: 50px;
    flex-basis: 15%;
    padding: 10px;
    box-sizing: content-box;
}

article div h4 {
    font-size: 20px;
}

article div img {
    width: 100%;
    height: 300px;
    object-fit: cover;
    ;
}

.article_div_un {
    background-color: rgb(176, 0, 88);
    text-align: center;
    color: white;
}

.article_div_un p {
    text-align: justify;
}

.article_div_deux {
    color: gray;
}

.article_div_deux a {
    text-decoration: none;
    color: black;
    border: 2px solid gray;
    text-transform: uppercase;
    padding: 5px;
    font-weight: 300;
    transition: ease 0.5s;
}

.article_div_deux a:hover {
    border: none;
    background-color: gray;
    color: white;
    transition: ease 0.5s;
}

.article_div_trois {
    text-align: center;
}

.article_div_quatre {
    background-color: white;
    color: rgb(176, 0, 88);
    text-align: center;
}

.article_div_quatre p {
    text-align: justify;
    color: black;
}

/***********************************************cooperation********************************/
.cooperation {
    margin-top: 50px;
    background-image: url("album/coopertaion.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: scroll;
    height: 500px;
}

/*****************************************************/
.besoin_demande {
    margin: auto;
    width: 50%;
    text-align: center;
    padding: 20px;
    background-color: rgb(176, 0, 88);
    word-wrap: break-word;
    position: relative;
    bottom: 50px;

}

.besoin_demande h3 {
    color: white;
    font-size: 35px;
}

.besoin_demande p {
    color: white;
}

/*********************************aside****************************************/
aside {
    padding: 10px;
}

aside h3 {
    text-align: center;
    color: rgb(176, 0, 88);
    font-size: 30px;
}

.asideP {
    text-align: center;
    font-size: 15px;
    color: black;
    font-weight: 300;
}

.aside_contenaire {
    width: 90%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.aside_contenaire div {
    flex-basis: 25%;
    margin-top: 50px;
    padding: 10px;
    text-align: justify;
}

.aside_contenaire div h4 {
    font-size: 25px;

}

.aside_contenaire_div_un {
    background-color: gray;
    color: white;
}

.aside_contenaire_div_deux {
    background-color: rgb(121, 118, 118, 0.1);
    color: rgb(47, 71, 104);
}

.aside_contenaire_div_deux h4 {
    color: black;
}

.aside_contenaire_div_trois {
    background-color: rgb(176, 0, 88);
    color: white;
}

/********************************apropos******************************************/
.apropos {
    margin-top: 50px;
    padding: 30px;
}

.apropos_contenaire {
    width: 90%;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 30px;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.apropos_contenaire div {
    flex-basis: 40%;
}

.apropos_contenaire div h4 {
    color: rgb(176, 0, 88);
    font-size: 30px;
}

.apropos_contenaire div p {
    text-align: justify;
    color: black;
}

.apropos_contenaire div img {
    width: 100%;
    object-fit: cover;
}

/************************contact******************************************/
.contact {
    background-color: rgb(176, 0, 88);
    padding: 20px;
}

.contact_contenaire {
    width: 80%;
    margin-top: 50px;
    margin-bottom: 50px;
    padding: 10px;
    background-color: white;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.contact_contenaire div {
    flex-basis: 40%;
}

.contact_contenaire div h4 {
    color: rgb(176, 0, 88);
    font-size: 25px;
    font-family: "Poppins", sans-serif;
    font-weight: 200;
    font-style: normal;
    text-transform: lowercase;
}

.contact_contenaire div ul li {
    color: black;
    word-spacing: 5px;
}

.form p {
    color: rgb(176, 0, 88);
}

.form input {
    width: 100%;
    height: 30px;
    border: none;
    padding: 5px;
    border: 1px solid gray;
    outline-color: rgb(176, 0, 88);
    font-family: "Poppins", sans-serif;
    font-weight: 200;
    font-style: normal;
}

.form input::-webkit-input-placeholder {
    opacity: 0.5;
    font-family: "Poppins", sans-serif;
    font-weight: 200;
    font-style: normal;
}

.form textarea {
    width: 100%;
    height: 70px;
    border: none;
    border: 1px solid gray;
    outline-color: rgb(176, 0, 88);
    font-family: "Poppins", sans-serif;
    font-weight: 200;
    font-style: normal;
}

.form textarea::-webkit-input-placeholder {
    opacity: 0.5;
    font-family: "Poppins", sans-serif;
    font-weight: 200;
    font-style: normal;
}

.form button {
    text-transform: uppercase;
    background-color: rgb(176, 0, 88);
    color: white;
    border: none;
    padding: 15px;
    font-family: "Poppins", sans-serif;
    font-weight: 200;
    font-style: normal;
    transition: ease-in-out 0.5s;
}

.form button:hover {
    padding: 20px;
    font-weight: bold;
    transition: ease-in-out 0.5s;
}

/*************************************footer**********************************/
footer {
    text-align: center;
    padding: 10px;
    color: white;
    background-color: rgba(0, 0, 0, 0.521);
    font-size: small;
}

footer ul li {
    list-style-type: none;
    display: inline-block;
    padding: 10px;
}

footer ul li a i {
    color: white;
    font-size: 15px
}

/******************************media*******************************************/
@media screen and (max-width:1180px) {
    .main_div {
        margin-top: 150px;
    }
    .main_div {
        margin-top: 50px;
        margin-bottom: 50px;
        /* border: 5px solid white;*/
    }
    
    .main_div h1 {
        letter-spacing: 0px;
        color: white;
        font-size: 40px;
    }
    
    .main_div p {
        font-size: large;
        color: white;
        padding-bottom: 20px;
    }
    .service div {
        flex-basis: 40%;
    }

    article div {
        flex-basis: 40%;
        height: 300px;
    }

    article div p {
        padding-top: 50px;
    }

    .article_div_deux h4 {
        padding-bottom: 60px;
    }

    .besoin_demande {
        width: 60%;
    }
}

@media screen and (max-width:800px) {
    header nav {
        display: none;
    }

    .openBtn {
        display: block;
    }

    .main_div {
        margin-top: 100px;
    }

    .service div {
        flex-basis: 100%;
    }

    section div {
        padding: 10px;
        flex-basis: 100%;
        margin-top: 10px;
    }

    article div {
        flex-basis: 80%;
    }

    .aside_contenaire div {
        flex-basis: 100%;

    }

    .besoin_demande {
        width: 75%;
    }

    .apropos_contenaire div {
        flex-basis: 100%;
    }

    .contact_contenaire {
        width: 95%;
    }

    .contact_contenaire div {
        flex-basis: 100%;
        padding: 10px;
    }
}